## Build results Package project
CoreAccess/[Dd]ebug/
CoreAccess/[Dd]ebugPublic/
CoreAccess/[Rr]elease/
CoreAccess/[Rr]eleases/
CoreAccess/x64/
CoreAccess/x86/
CoreAccess/[Ww][Ii][Nn]32/
CoreAccess/[Aa][Rr][Mm]/
CoreAccess/[Aa][Rr][Mm]64/
CoreAccess/bld/
CoreAccess/[Bb]in/
CoreAccess/[Oo]bj/
CoreAccess/[Ll]og/
CoreAccess/[Ll]ogs/

## Build results Sample API project
CoreAccess.SampleAPI/[Dd]ebug/
CoreAccess.SampleAPI/[Dd]ebugPublic/
CoreAccess.SampleAPI/[Rr]elease/
CoreAccess.SampleAPI/[Rr]eleases/
CoreAccess.SampleAPI/x64/
CoreAccess.SampleAPI/x86/
CoreAccess.SampleAPI/[Ww][Ii][Nn]32/
CoreAccess.SampleAPI/[Aa][Rr][Mm]/
CoreAccess.SampleAPI/[Aa][Rr][Mm]64/
CoreAccess.SampleAPI/bld/
CoreAccess.SampleAPI/[Bb]in/
CoreAccess.SampleAPI/[Oo]bj/
CoreAccess.SampleAPI/[Ll]og/
CoreAccess.SampleAPI/[Ll]ogs/

## .NET Core
CoreAccess/project.lock.json
CoreAccess/project.fragment.lock.json
CoreAccess/artifacts/

## ASP.NET Scaffolding
CoreAccess/ScaffoldingReadMe.txt

## NuGet Packages
CoreAccess/*.nupkg
CoreAccess/*.snupkg

## Others
CoreAccess/~$*
CoreAccess/*~
CoreAccess/CodeCoverage/

## MSBuild Binary and Structured Log
CoreAccess/*.binlog

## MSTest test Results
CoreAccess/[Tt]est[Rr]esult*/
CoreAccess/[Bb]uild[Ll]og.*

## NUnit
CoreAccess/*.VisualState.xml
CoreAccess/TestResult.xml
CoreAccess/nunit-*.xml

.idea/
./idea/